@mixin color_g(){
  color: #0f0;
}

@mixin color_w(){
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


.top {
  background-color: #333333;
  height: 120px;
  width: 100%;
}

.nav-area-r {
  float: right;
  //list-style: none;
  margin: 30px;
  padding: 20px;
}

.nav-area-li {
  display: inline-block;

  a {
    @include color_g();
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;

    &:hover {
      background: #222;
      color: #ff7;
    }
  }
}

.input_data{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
  margin: 5px;
  @include color_w();
  text-align: center;

  input, a {
    color: #555;
    border-radius: .375rem;
    border: 1px solid #cad1d7;
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
  }

  input[type="submit"], a {
    color: #222222;
    border: none;
    margin-top: 15px;
    font-size: 20px;
  }

  input:hover {
    background: #fff;
    color: #000;
  }
}
